<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      区块链1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="callNumberFun()">打电话1</ion-button>
  <ion-button (click)="openAlter()">open</ion-button>

  <ion-toggle
    (ionChange)="keepscreenonChange(keepscreenonValue)"
    [(ngModel)]="keepscreenonValue"
  ></ion-toggle>
</ion-content>
